@import "base.css";
body{
    background-color: #f1f1f1;
}
header{
    width: 100%;
    height: 74px;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
header .linner{
    width: 1120px;
    height: 74px;
    margin: 0 auto;
}
header .left{
    float: left;
    margin-left: 20px;
}
header .left h3{
    font-size: 40px;
    font-family: "华文彩云";
    line-height: 74px;
    color: #444;
}
header .right{
    display: flex;
    float: right;
}
header .right .hot{
    color: #0077dd;
}
header .right li{
    font-size: 20px;
    padding: 20px 20px;
    color: #444;
    line-height: 32px;
    cursor:pointer;
}
header .right li:hover{
    color: #0077dd;
}
main{
    width: 1120px;
    margin: 20px auto;
    overflow: hidden;
}
main .left{
    width: 784px;
    float: left;
}
main .left h2{
    font-size: 14px;
    line-height: 38px;
    border: 1px solid #ddd;
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    background-color: #fff;
}
main .left .word{
    background-color: #fff;
    padding:20px;
    border: 1px solid #ddd;
}
main .left .word p{
    font-size: 15px;
    color: #555;
    line-height: 1.5em;
    margin-bottom: 10px;
}
main .left .word img{
    display: block;
    margin: 20px 0;
}
main .left .word h3{
    font-size: 18px;
    padding-bottom: 10px;
}
main .left .word p a{
    font-weight: bold;
    cursor: pointer;
}
main .right{
    width: 313px;
    float: right;
}
main .right .box{
    width: 100%;
    margin: 20px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
}
main .right .box .box1{
    padding: 20px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    background-color: #fff;
}
#topimg{
    width: 102px;
    height: 102px;
    float: left;
    overflow: hidden;
    margin: 0 10px 0px 0;
}
main .right .box .box1 p{
    color: #9a9a9a;
    line-height: 26px;
}
main .right .box h2{
    background: #f8f8f8;
    font-size: 15px;
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
    height: 38px;
    line-height: 38px;
}
main .right .box .box1 h3{
    color: #3f3f3f;
    font-weight: bold;
    font-size: 15px;
    line-height: 2em;
}
main .right .box .box2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #a6a6a6;
    padding-top: 15px;
    margin-top: 15px;
}
main .right .box .box3{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    border:  1px solid #a6a6a6;
}
main .right .box .box3 i{
    font-size: 26px;
    color: #a6a6a6;
}
main .right .box1 ul{
    width: 100%;
    overflow: hidden;
}
main .right .box1 li{
    width: 50%;
    height: 40px;
    float: left;
    border:  1px solid #ddd;
    box-sizing: border-box;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
main .right .box1 li:hover{
    background-color: #0077dd;
    color: #fff;
}
main .right .box1 div{
    width: 48%;
    float: left;
    margin: 2px;
    overflow: hidden;
}
main .right .box1 img{
    width: 100%;
    height: 100%;
    display: block;
    transition: all .5s;
}
main .right .box1 div:hover img{
    transform: scale(1.2);
}